@page "/creates/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create Order</h3>
<hr />
<br />

<FormComponent ButtonText="Create" create="create" OnValidSubmit="@CreateCreate" />

@code {
    Create create = new Create();

    private async Task CreateCreate()
    {
        await _client.PostAsJsonAsync(Endpoints.CreatesEndpoint, create);
        _navManager.NavigateTo("/creates/");
    }
}
