@page "/creates/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>View Create</h3>

<FormComponent create="create" Disabled="true" />

@code {
    [Parameter] public int id { get; set; }
    Create create = new Create();

    protected async override Task OnParametersSetAsync()
    {
        create = await _client.GetFromJsonAsync<Create>($"{Endpoints.CreatesEndpoint}/{id}");
    }
}