@page "/items/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]

<h3 class="card-title">Items</h3>
<br />

<a href="/customers/create" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
</a>
<br />
<br />

@if (Items == null)
{
    <div class="alert alert-info">Loading Items...</div>
}
else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Items)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>
                        <a href="/models/view/@item.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="/models/edit/@item.Id" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <button class="btn btn-danger" @onclick="@(()=>Delete(item.Id))">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private List<Item> Items;

    protected async override Task OnInitializedAsync()
    {
        Items = await _client.GetFromJsonAsync<List<Item>>($"{Endpoints.ItemsEndpoint}");
    }

    async Task Delete(int itemId)
    {
        var item = Items.First(q => q.Id == itemId);
        var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {item.Name}?");
        if (confirm)
        {
            await _client.DeleteAsync($"{Endpoints.ItemsEndpoint}/{itemId}");
            await OnInitializedAsync();
        }
    }
}