@page "/items/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>View Item</h3>

<FormComponent item="item" Disabled="true" />

@code {
    [Parameter] public int id { get; set; }
    Item item = new Item();

    protected async override Task OnParametersSetAsync()
    {
        item = await _client.GetFromJsonAsync<Item>($"{Endpoints.ItemsEndpoint}/{id}");
    }
}