<body>
    <img src="Images\Shirt1.jpg" Width="280" Height="280" />
    <img src="Images\Shirt2.jpg" Width="280" Height="280" />
    <img src="Images\Shirt3.jpg" Width="280" Height="280" />
    <img src="Images\Shirt4.jpg" Width="280" Height="280" />
    <div style="position: absolute; left:300px; top:375px;">
        <a href="">
            <button>
                Add To Cart
            </button>
        </a>
    </div>
    <div style="position: absolute; left:580px; top:375px;">
        <a href="">
            <button>
                Add To Cart
            </button>
        </a>
    </div>
    <div style="position: absolute; left:860px; top:375px;">
        <a href="">
            <button>
                Add To Cart
            </button>
        </a>
    </div>
    <div style="position: absolute; left:1140px; top:375px;">
        <a href="">
            <button>
                Add To Cart
            </button>
        </a>
    </div>
</body>
@code {

}
